.active-recipe {
    margin-top: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .active-recipe__img {
    width: 50%;
    height: 50%;
    margin-bottom: 20px;
  }
  .catalog-link {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  
  .catalog-link:hover {
    color: #007bff;
    text-decoration: underline;
  }
  .active-recipe__title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #f68c1e;
    margin-bottom: 10px;
  }
  
  .active-recipe__publisher {
    font-size: 18px;
    margin-bottom: 20px;
    color: #f68c1e;
  }
  
  .active-recipe__metadata {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0 10px 0;
    color: #f68c1e;
  }
  
  .active-recipe__metadata-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .active-recipe__metadata-list li {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .active-recipe__metadata-list li strong {
    font-weight: 700;
  }
  
  .active-recipe__comments {
    margin-top: 40px;
    width: 100%;
  }
  
  .active-recipe__comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .active-recipe__comment-list li {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .active-recipe__comment-input {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .active-recipe__comment-button {
    background-color: #f68c1e;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .active-recipe__button {
    margin-top: 20px;
    background-color: #f68c1e;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .active-recipe__edit-button,
  .active-recipe__delete-button {
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
.active-recipe__edit-button {
    background-color: #5cb85c;
  }
  
  .active-recipe__edit-button:hover {
    background-color: #449d44;
  }
  
  .active-recipe__edit-button a {
    color: #fff;
    text-decoration: none;
  }
  
  .active-recipe__delete-button {
    background-color: #d9534f;
  }
  
  .active-recipe__delete-button:hover {
    background-color: #c9302c;
  }
  
  .active-recipe__delete-button a {
    color: #fff;
    text-decoration: none;
  }
  
  .active-recipe__title,
  .active-recipe__publisher,
  .active-recipe__metadata,
  .active-recipe__metadata-list li,
  .active-recipe__comments h4,
  .active-recipe__comment-list li {
    color: black;
  }
  .active-recipe__comments {
    margin-top: 40px;
    width: 100%;
  }
  
  .active-recipe__comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .active-recipe__comment-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .active-recipe__delete-button_comment {
    background-color: #d9534f;
    font-size: 14px; /* Updated font size */
    padding: 5px 10px; /* Updated padding */
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; 
    transition: all 0.2s ease-in-out;
  }
  
  .active-recipe__delete-button:hover {
    background-color: #c9302c;
  }  
  
  
  .active-recipe__delete-button:focus {
    outline: none;
  }
  
  .active-recipe__delete-button a {
    color: #fff;
    text-decoration: none;
  }